.vcenter {
  color: #83888C;
  position: relative;
  top: 10%;  
  left:80px;
}
header.active {
  left:0;
}

header {
    position: absolute;
    top: 0;
    right: -12vw;
    text-align: left;
    height: 100vh;
    background-color: #E8A904;
    z-index: 999;
    padding-top: 8vw;
    width: 12vw;
    transition: left 0.5s ease-in;
  }
  
a {
      background-color: #E8A904;
      color:#ffffff;
      display: block;
      font-size: 1.2vw;
      padding: 0.5em 2em;
      text-decoration: none;
      transition: all 0.3s ease-in;
    }
a:hover {
      color: #1E2327;
      padding: 0.5em 1.5em;
      text-decoration:none;
  }

button {
		margin: 1em 20em 0 0;
		padding: 7px 7px;
		border-radius: 3px;
		border: 2px solid #83888C;
		background-color: #1E2327;
		outline:none;
		color: #83888C;
		font-weight: 600;
	}
.line {
  max-height:1%;
  max-width:14%;
  margin: 0 0 0 8em;
}
hr {
  border: 1px solid #697B8C;
}


.carousel-indicators {
  position: absolute;
  top: 130px;
  left: 38%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.about {
		position: relative;
	  top: 20%;  
	  transform: translateY(-10%);
}

#last_img {
  position:relative;
  top:15%;
  max-height:60%;
}
#text {
	background-color:#1E2327;
	height: 100vh;
  text-align: center;
  padding: 0px;
	margin: 0px;
}
#pics {
	background-color: #E8A904;
	height: 100vh;
	padding: 0px;
}

#logo {
	max-width: 70%;
	max-height: 60%;
	float: left;
	cursor:pointer;
	z-index:1000;

}

#leftimg {
	position: absolute;
	top: 10%;
	margin: 0 0 0 30em;
	padding: 0px;
	max-height: 50%;
	max-width:60%;
}

h3 {
	margin: 0 8em 0 4.5em;
	text-align: left;
}
p{
	font-size: 0.9vw;
	text-align: left;
	margin: 0 20em 0 9em;
	
}
img {
	max-width: 98%;
	max-height: 80%;
	position: relative;
	top: 10%;
	float: left;
}

