.vcenter {
  color: #83888C;
  position: relative;
  top: 20%;  
  transform: translateY(-10%);
}

.carousel-indicators {
  position: absolute;
  top: 180px;
  left: 22%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.about {
		position: relative;
	  top: 20%;  
	  transform: translateY(-10%);
}

#last_img {
  position:relative;
  top:20%;
  max-height:60%;
}
#text {
	background-color:#1E2327;
	height: 100vh;
  text-align: center;
  padding: 0px;
	margin: 0px;
}
#pics {
	background-color: #E8A904;
	height: 100vh;
	padding: 0px;
}

#logo {
	max-width: 70%;
	max-height: 60%;
	float: left;

}

#leftimg {
	position: absolute;
	top: 10%;
	margin: 0 0 0 30em;
	padding: 0px;
	max-height: 50%;
	max-width:60%;
}

h3 {
	margin: 0 8em 0 4.5em;
	text-align: left;
}
p{
	font-size: 0.9vw;
	text-align: left;
	margin: 0 20em 0 9em;
	
}
img {
	max-width: 98%;
	max-height: 80%;
	position: relative;
	top: 10%;
	float: left;
}

